* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
html {
  scroll-behavior: smooth;
}
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(241, 230, 220);
}

/* NavBar */
.navbarContainer {
  position: sticky;
  top: 1px;
  z-index: 100;
  box-shadow: 0 0 500px rgba(255, 68, 0, 0.301)  !important;
}
.my-resume:hover {
  border: 2px solid rgb(245, 209, 143) !important;
}
.my-resume {
  padding: 6px 15px !important;
  border-radius: 20px !important;
  background: linear-gradient(to left, orange, red) !important;
  color: white !important;
  box-shadow: 0 0 50px rgba(255, 69, 0,0.4)  !important;

}
.offCanvaButton {
  box-shadow: none !important;
  box-shadow: 0 0 100px orangered  !important;

}
.brand a,
.brand h2 {
  font-family: serif;
  background: linear-gradient(to left, orange, red) !important;
  background-clip: text !important;
  color: transparent !important;
  font-weight: 700;
  text-decoration: none !important;
  text-shadow: 0 0 70px orangered;  
}
.link{
  font-size: 20px !important;
  font-weight: 600 !important;
}
.link:hover {
  color: rgb(250, 114, 3) !important;
}

/* Home */
#homePage {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-detail {
  position: relative;
}

.my-detail h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to right, orange, red, yellow);
  background-clip: text;
  color: transparent;
  font-weight: 800;
}
.my-detail p {
  width: 50%;
  @media (max-width: 500px) {
    width: 100%;
  }
}
.portfolio_img {
  position: absolute;
  right: 0px;
  top: -30px;
}
.portfolio_img:hover {
  animation: profile 0.3s linear infinite;
}
@keyframes profile {
  to {
    transform: rotate(-5deg);
  }
  from {
    transform: rotate(5deg);
  }
}
.smallIntro{
  font-weight: 500;
  font-size: 20px;
  @media (max-width:500px) {
    font-size: 16px;
    
  }
}
.social-link {
  color: white;
  background-color: #f17f2e;
  width: 45px;
  height: 45px;
  margin: 5px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link:hover {
  padding: 6px 10px 10px 10px;
  transition: all 0.2s linear;
  color: black;
}

/* About me */
#aboutMePage {
  /* height: 90vh; */
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-detail {
  position: relative;
}
.custom-orangered .progress-bar {
  background: linear-gradient(to left, yellow, orange, red);

}

/* Products */
#projectsPage {
  background-color: "rgba(255, 165, 0,0.1)";
  position: relative;
  padding: 10px;
  margin-top: 35px;
}
.showML {
  display: flex;
  align-items: center;
  justify-content: end;
}
.textShadow{
  color: orangered;
  text-shadow: 0 0 30px orangered, 0 0 50px orangered;
}
.showML-btn {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  color: blueviolet;
  outline: none;
}
.showML-btn:hover {
  color: orangered;
}

/* ContactMe*/
.inputEmail:focus {
  /* border: 1px solid orangered !important; */
  box-shadow: none !important;
  outline: none !important;
}
.formemail{
  box-shadow: 0 0 60px rgba(228, 108, 65, 0.295)  !important;
}
.formemail:hover{
  box-shadow: 0 0 30px rgba(228, 108, 65, 0.329)  !important;

}
/* card */
.bordercord {
  border-bottom: 5px solid orangered !important;
  transition: all 0.4s linear !important;
}
.project {
  flex-wrap: wrap;
  margin: 20px 10px;
}
.bordercord:hover {
  animation: cordHover 0.5s linear 1 !important;
}
@keyframes cordHover {
  from {
    transform: rotateX(-10deg);
  }
  to {
    transform: rotateX(10deg);
  }
}
