* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
html {
  scroll-behavior: smooth;
}
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(241, 230, 220);
}

/* NavBar */
.navbarContainer {
  position: sticky;
  top: 1px;
  z-index: 100;
}
.my-resume:hover {
  border: 2px solid rgb(245, 209, 143) !important;
}
.my-resume {
  padding: 6px 15px !important;
  border-radius: 20px !important;
  background: linear-gradient(to left, orange, red) !important;
  color: white !important;
}
.offCanvaButton {
  box-shadow: none !important;
}
.brand {
  font-family: serif;
  background: linear-gradient(to left, orange, red) !important;
  background-clip: text !important;
  color: transparent !important;
  font-weight: 700;
}
.link:hover {
  color: rgb(250, 114, 3) !important;
}

/* Home */
#homePage {
  height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-detail {
  position: relative;
}

.my-detail h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to right, orange, red, yellow);
  background-clip: text;
  color: transparent;
  font-weight: 800;
}
.my-detail p {
  width: 50%;
  @media (max-width: 500px) {
    width: 100%;
  }
}
.portfolio_img {
  position: absolute;
  right: 0px;
  top: -30px;
}
.portfolio_img:hover {
  animation: profile 0.3s linear infinite;
}
@keyframes profile {
  to {
    transform: rotate(-5deg);
  }
  from {
    transform: rotate(5deg);
  }
}
.social-link {
  color: white;
  background-color: #e78b48;
  padding: 3px 8px 8px 8px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.social-link:hover {
  padding: 6px 10px 10px 10px;
  transition: all 0.2s linear;
}

/* About me */
#aboutMePage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-detail {
  position: relative;
  height: 90vh;
}
